.DS_Store

.idea

# pyc
*.pyc

result/
tmp/

inspector/need/

# ランキングの結果の中間ファイル
NTCIR11/evaluation/result.txt

# mapの結果の中間ファイル
NTCIR11/evaluation/map_result.txt

# 可視化ツールの結果の中間ファイル
inspector/need/result.txt

# web_query_likelihood
workspace/web_query_likelihood/backup/

# 不要な可視化用csvファイル
workspace/web_query_likelihood/csv/
# 不要な調査用ファイル
workspace/query_likelihood_t_slide/survey/
